$normal-color: #a8b1b8;
$active-color: #5cadd8;
$field-focus-background: lighten($active-color, 30%);
$base-spacing: 20px;
$green: #7fa743;
$blue: #617db7;

@mixin centered() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

body {
  background: lightgrey;
  font-family: sans-serif;
}

.login-wrap {
  @include centered;
  width: 450px;
  height: 530px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px #00000030;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.field {
  position: relative;
  padding: 40px $base-spacing 0;
  width: 50%;
  box-sizing: border-box;
}

.field--full {
  width: 100%;
}

.field-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: $base-spacing;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  overflow: hidden;
  border: 1px solid transparent;
  display: flex;
  box-sizing: border-box;
}

.field-text {
  border: 1px solid $normal-color;
  border-radius: 4px;
  padding: $base-spacing;
  height: 40px;
  font-size: 13px;
  color: $normal-color;
  width: 100%;
  box-sizing: border-box;
}

.field-button {
  width: 100%;
  padding: 15px 30px;
  border: none;
}

.field-button--submit {
  background: $green;
  box-shadow: inset 0 -5px 0 darken($green, 10%);
  color: white;
}

.field-button--facebook {
  background: $blue;
  box-shadow: inset 0 -5px 0 darken($blue, 10%);
  color: white;
}

.login-row {
  width: 100%;
  padding: $base-spacing;
  margin-top: 20px;
  border-top: 1px solid lighten($normal-color, 20%);
}
