@use 'sass:color';

$normal-color: #a8b1b8;
$active-color: #5cadd8;
$field-focus-background: color.adjust($active-color, $lightness: 30%);
$base-spacing: 20px;
$green: #7fa743;
$blue: #617db7;

@mixin centered() {
  position: absolute;
  inset: 0;
  margin: auto;
}

body {
  font-family: sans-serif;
  background: lightgrey;
}

.login-wrap {
  @include centered;

  box-sizing: border-box;
  width: 450px;
  height: 530px;
  border-radius: 3px;

  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-wrap: wrap;
}

.field {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding: 40px $base-spacing 0;
}

.field--full {
  width: 100%;
}

.field-label {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: $base-spacing;
  border: 1px solid transparent;

  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.field-text {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: $base-spacing;
  border: 1px solid $normal-color;
  border-radius: 4px;

  font-size: 13px;
  color: $normal-color;
}

.field-button {
  width: 100%;
  padding: 15px 30px;
  border: none;
}

.field-button--submit {
  color: white;
  background: $green;
  box-shadow: inset 0 -5px 0 color.adjust($green, $lightness: -10%);
}

.field-button--facebook {
  color: white;
  background: $blue;
  box-shadow: inset 0 -5px 0 color.adjust($blue, $lightness: -10%);
}

.login-row {
  width: 100%;
  margin-top: 20px;
  padding: $base-spacing;
  border-top: 1px solid color.adjust($normal-color, $lightness: 20%);
}
